body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    user-select: none;
}


h1 {
    font-size: calc(2em + 1vw);
    margin: 0; padding: 0;
}

p {
    font-weight: 100;
    font-size: calc(1em + 0.5vw);
}

#page {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(0, 0);
    transition: transform 0.4s ease-out;
    margin: 0; padding: 0;
  
}


.page {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
    transition: transform 0.4s ease-out;
}

.section_selection {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 3vw; 
    color: rgb(30, 30, 30);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

}

.section_selection label, .page_selection label {
    display: inline-flex;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgb(255, 255, 255, 0.8);
    transition: transform 0.2s;
    margin: 12px 8px;
    padding: 0px;
    box-shadow: 0px 0px 8px rgba(0, 27, 160, 0.8);
    cursor: pointer;
}

.section_selection label::after, .page_selection label::after {
    content: '';
    display: inline-flex;
    position: relative;
    top: -8px;
    left: -8px;
    padding: 10px;
}

.section_selection input[type=radio]:checked + label::after, .page_selection input[type=radio]:checked + label::after {
   display: none;
}


.section_selection input[type=radio]:checked + label, .page_selection input[type=radio]:checked + label  {
    transform: scale(2.2);
    transition: transform 0.2s;
}



.page_selection {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 2vh;
    left: 40%; 
    color: rgb(30, 30, 30);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    z-index: 999999; 

}
